body {
    overflow-y:hidden;
}

.ui-content {
    height: 100%;
}

.book-image {
    max-width: 100%;
    max-height: 100%;
}

.swiper-slide {
    text-align: center;
}

#contents {
  margin: 0 50px;
}

.index {
    margin: 0 20px !important;
}